general = {
    server_address = "irc.quakenet.org";
    server_port = "6667";
    use_ssl = false;
    username = "ircbot";
    nickname = "unique_bot_name";
    channel_name = "#bot_testing";
    admin_hostname = "localhost";
    kicklist = [];
};

timed_messages = (
    { at_hour = 8; at_minute = 0; channel = "#bot_testing"; message = "Rise and shine!"; },
);

replies = (
    { match = "!google"; reply = "https://google.com"; },
);
